.nav-items {
    display: flex;
    font-size: small;
    gap: 30px;

}

.head{
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    margin: 1rem 2rem 1rem;
}

header h1 span {
    /* 글씨에 그라데이션 주는 효과 */
    background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */
  }

  ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-shadow: 2px 2px 4px rgba(145, 205, 235, 0.54);
  }

.introduction{
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display:inline-block;
}

.sns {
    display: flex;
    justify-content: center;

}

.mid div {
    display: inline-block;
    margin: auto 0;
}

.mid{
    display:flex ;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    font-family: Arial, Helvetica, sans-serif;
}


.center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.gap{
    padding-top: 3%;
    padding-bottom: 3%;
}

.projects{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
}


.project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: auto;
    background-color: gainsboro;
    border-radius: 10%;
}

.project:hover{
    box-shadow: 1px 2px 8px black;
}

.projects div{
    display:flex;
    justify-content: space-around;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    width: auto;    
    flex-direction: column;
    justify-content: flex-end;
    /* max-width: 200px;  */
    height: auto;
    /* background-image: url("image/testmate.svg"); */
}
.explanation{
    /* display:flex; */
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.extra {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem;
    padding-top: 10px;
    padding-bottom: 10px;

}
.extra div{
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.p_tag {
    padding-right: 10px;
    font-size: 10px;
}

.font_size{
    font-size: 10px;

}

.extra_2{
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem;
}

.extra_2 div{
    display: flex;
}