.nav-items {
    display: flex;
    font-size: small;
    gap: 20px;

}

.head{
    display: flex;
    justify-content: space-between;
}

header h1 span {
    /* 글씨에 그라데이션 주는 효과 */
    background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
    background-clip: text;
    color: transparent; /* 글자 색을 투명하게 */
  }

.logo {
    display:inline-block;
}

.sns {
    display: flex;
    justify-content: center;

}

.mid div {
    display: inline-block;
    margin: auto 0;
}

.mid{
    display:flex ;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}

.projects{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
}

.center{
    text-align: center;
}


.projects div{
    display:flex;
    gap: 5rem;
    justify-content: space-around;
    /* width: 100%; */
}

.gap{
    padding-top: 5%;
    padding-bottom: 5%;
}


.project{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    background-color: aqua;
    border-radius: 10%;
}

.extra {
    display: flex;
    justify-content: space-between;
}
.extra div{
    display: flex;
    justify-content: space-between;
}

.p_tag {
    padding-right: 10px;
}

.extra_2{
    display: flex;
    justify-content: space-between;
}

.extra_2 div{
    display: flex;
}